# Dependencies
node_modules


# Build output
.next
out
dist

# Git
.git
.gitignore

# IDE
.vscode
.idea
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Docs & misc
*.md
LICENSE

# Env files
.env
.env.*
!.env.example

# Docker
Dockerfile
docker-compose*.yml
.dockerignore
